.die{
    position: relative;
    width: 50px;
    height: 50px;
    background: url("/images/dice.png");
    background-size: 300% 200%;
}

.die_one{
    background-position-x: 0;
    background-position-y: 0;
}

.die_two{
    background-position-x: 50%;
    background-position-y: 0;
}

.die_three{
    background-position-x: 100%;
    background-position-y: 0;
}

.die_four{
    background-position-x: 0;
    background-position-y: 100%;
}

.die_five{
    background-position-x: 50%;
    background-position-y: 100%;
}

.die_six{
    background-position-x: 100%;
    background-position-y: 100%;
}